.navbar{
  margin:0;
}
.logo {
  margin-left: 20%;
  display: inline-block;
}
.mynav {
  margin-right: 20%;
  flex-direction: row;
  display: flex;
}
.mynav > a,div{
    margin: 5px;
}
.myAccountBtn{
    border:none;
}
@media only screen and (max-width: 940px) {
  .logo {
    margin-left: 3%;
  }
  .mynav {
    margin-right: 3%;
  }
}
@media only screen and (max-width: 620px) {
  .mynav {
    display: none;
  }
}
