.logo{
    margin-left:20%;
    display: inline-block;
}
.mynav{
    margin-right: 20%;
}
@media only screen and (max-width: 836px) {
    .logo {
        margin-left:3%;
    }
    .mynav{
        margin-right:3%;
    }
}
@media only screen and (max-width: 560px) {
    .mynav{
       display: none;
    }
}