<div class="navbar">
  <h1 class="mr-md-auto logo">EB project</h1>
  <nav class="mynav">
    <a class="p-2 text-dark" routerLink="/">Home</a>
    <div *ngIf="aService.loggedIn()" class="dropdown myDrop">
      <button class="btn btn-secondary dropdown-toggle myAccountBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        my Account
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngIf="aService.loggedIn()" class="dropdown-item" routerLink="/dashboard">Dashboard</a>
        <a *ngIf="aService.loggedIn()" class="dropdown-item" routerLink="/profile">Profile</a>
        <a *ngIf="aService.loggedIn()" class="dropdown-item" (click)="onLogoutClick()" href="/login">Sign out</a>
      </div>
    </div>
    <div >
      <a *ngIf="!aService.loggedIn()" class="p-2 text-dark" routerLink="/login">Sign in</a> 
      <a *ngIf="!aService.loggedIn()" class="p-2 text-blue" routerLink="/register">Sign up</a>
    </div>
  </nav>
</div>