<div class="home">
  <div class="header">
    <div class="textarea">
      <h1>Welcome to eb</h1>
      <h2>While massage is a great way to keep your body operating at peak efficiency, wellness is much more than muscle relaxation.
        Complementary therapies and at-home care make a Massage Envy Membership a total body care resource.
      </h2>
      <button type="button" class="btn btn-primary">make an appointment</button>
    </div>
  </div>
  <section>
    <h1>
      section heading
    </h1>
    <article>section article</article>
  </section>
  <section>
    <h1>
      section heading
    </h1>
    <article>section article</article>
  </section>
  <section>
    <h1>
      section heading
    </h1>
    <article>section article</article>
  </section>
  <section>
    <h1>
      section heading
    </h1>
    <article>section article</article>
  </section>
</div>