@import "../../../../styles/var";
.header {
  background-image: url(../../../../assets/images/bg.jpg);
  background-size: cover;
  color: white;
  height: 75vh;
}

.textarea {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 70%;
  position: relative;
  top: 15%;
  padding: 50px;
  margin: 0 auto;
}
.textarea p {
  font-size: 1.2em;
  opacity: 0.5;
  margin-bottom: 25px;
  /* font-weight: lighter; */
}
.textarea h1 {
  font-size: 3em;
}
agm-map {
  height: 300px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4);
}
.home {
  h1 {
    font-size: 3em;
    margin-bottom: 0;
    font-weight: 300;
  }
  section {
    width: 80%;
    margin: 80px auto;
  }
  .s1 {
    .s1_main {
      background-color: #f1f8e9;
      padding: 20px 30px;
    }
    article {
      margin-top: 15px;
    }
    h2 {
      font-family: "Courier New", Courier, monospace;
      color: $green500;
      letter-spacing: -1px;
    }
  }
  .s2_bg {
    padding: 1px 0;
    background-color: #f4f5f7;
  }
  .s2 {
    h1 {
      z-index: 20;
      position: relative;
    }
    text-align: center;
    ul {
      text-align: left;
      width: 250px;
      margin: 40px auto;
    }
    .leaf {
      width: 200px;
      height: 40px;
      position: relative;
      top: -10px;
      z-index: 0;
    }
  }
  .s3_bg {
    background-color: $green100;
    padding: 80px 0;
  }
  .s3 {
    margin: 0 auto;
    p {
      margin: 20px 0;
    }
  }
}
