@import "../../../../styles/var";
.footer {
  text-align: center;
  padding: 40px;
  background-color: #aed581;
  color: white;
  .social {
      font-size: 2em;
      color:$green100;
    i {
      margin-right: 10px;
      &:hover  {
          color:white;
      }
    }
  }
  nav {
    margin-bottom: 15px;
    a {
      font-weight: 500;
      font-size: 1.3em;
      color: rgba(0, 0, 0, 0.7);
      margin-right: 10px;
      opacity: 0.7;
      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
  }
}
